<%= simple_form_for @developer, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :apiKey %>
  <%= f.input :paypal_email %>
  <%= f.input :merchant_name %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                developers_path, :class => 'btn' %>
  </div>
<% end %>
