<%- model_class = Developer -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:apiKey) %></th>
      <th><%= model_class.human_attribute_name(:paypal_email) %></th>
      <th><%= model_class.human_attribute_name(:merchant_name) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @developers.each do |developer| %>
      <tr>
        <td><%= link_to developer.id, developer_path(developer) %></td>
        <td><%= developer.name %></td>
        <td><%= developer.email %></td>
        <td><%= developer.apiKey %></td>
        <td><%= developer.paypal_email %></td>
        <td><%= developer.merchant_name %></td>
        <td><%=l developer.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_developer_path(developer), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      developer_path(developer),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_developer_path,
            :class => 'btn btn-primary' %>
