<html>
<head>
	<title><%=@item.name%></title>
	</head>
	<body><center>
		<h1>Purchase a <%=@item.name%></h1><p>
	<br\>
	<br\>
	<p>
	<%= image_tag(@item.image.url) %>
	<br\>
	<p>
	<h3>Price: $<%= @item.price %></h3>
	<br\>
	<p>
	<br\>
	<%= link_to image_tag("btn_xpressCheckout.gif"), @redirect_url %>
</center>
</body>
</html>