<h1>Listing paypal_transactions</h1>

<table>
  <tr>
    <th>Address city</th>
    <th>Address country</th>
    <th>Address country code</th>
    <th>Address street</th>
    <th>Address state</th>
    <th>Address zip</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Payer email</th>
    <th>Payer</th>
    <th>Contact phone</th>
    <th>Residence country</th>
    <th>Item name</th>
    <th>Item number</th>
    <th>Quantity</th>
    <th>Custom</th>
    <th>Memo</th>
    <th>Txn</th>
    <th>Txn type</th>
    <th>Payment status</th>
    <th>Payment type</th>
    <th>Payment fee</th>
    <th>Payment gross</th>
    <th>Payment date</th>
    <th>Mc currency</th>
    <th>Mc fee</th>
    <th>Mc gross</th>
    <th>Tax</th>
    <th>Shipping</th>
    <th>Verify sign</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @paypal_transactions.each do |paypal_transaction| %>
  <tr>
    <td><%= paypal_transaction.address_city %></td>
    <td><%= paypal_transaction.address_country %></td>
    <td><%= paypal_transaction.address_country_code %></td>
    <td><%= paypal_transaction.address_street %></td>
    <td><%= paypal_transaction.address_state %></td>
    <td><%= paypal_transaction.address_zip %></td>
    <td><%= paypal_transaction.first_name %></td>
    <td><%= paypal_transaction.last_name %></td>
    <td><%= paypal_transaction.payer_email %></td>
    <td><%= paypal_transaction.payer_id %></td>
    <td><%= paypal_transaction.contact_phone %></td>
    <td><%= paypal_transaction.residence_country %></td>
    <td><%= paypal_transaction.item_name %></td>
    <td><%= paypal_transaction.item_number %></td>
    <td><%= paypal_transaction.quantity %></td>
    <td><%= paypal_transaction.custom %></td>
    <td><%= paypal_transaction.memo %></td>
    <td><%= paypal_transaction.txn_id %></td>
    <td><%= paypal_transaction.txn_type %></td>
    <td><%= paypal_transaction.payment_status %></td>
    <td><%= paypal_transaction.payment_type %></td>
    <td><%= paypal_transaction.payment_fee %></td>
    <td><%= paypal_transaction.payment_gross %></td>
    <td><%= paypal_transaction.payment_date %></td>
    <td><%= paypal_transaction.mc_currency %></td>
    <td><%= paypal_transaction.mc_fee %></td>
    <td><%= paypal_transaction.mc_gross %></td>
    <td><%= paypal_transaction.tax %></td>
    <td><%= paypal_transaction.shipping %></td>
    <td><%= paypal_transaction.verify_sign %></td>
    <td><%= link_to 'Show', paypal_transaction %></td>
    <td><%= link_to 'Edit', edit_paypal_transaction_path(paypal_transaction) %></td>
    <td><%= link_to 'Destroy', paypal_transaction, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Paypal transaction', new_paypal_transaction_path %>
