<p id="notice"><%= notice %></p>

<p>
  <b>Address city:</b>
  <%= @paypal_transaction.address_city %>
</p>

<p>
  <b>Address country:</b>
  <%= @paypal_transaction.address_country %>
</p>

<p>
  <b>Address country code:</b>
  <%= @paypal_transaction.address_country_code %>
</p>

<p>
  <b>Address street:</b>
  <%= @paypal_transaction.address_street %>
</p>

<p>
  <b>Address state:</b>
  <%= @paypal_transaction.address_state %>
</p>

<p>
  <b>Address zip:</b>
  <%= @paypal_transaction.address_zip %>
</p>

<p>
  <b>First name:</b>
  <%= @paypal_transaction.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @paypal_transaction.last_name %>
</p>

<p>
  <b>Payer email:</b>
  <%= @paypal_transaction.payer_email %>
</p>

<p>
  <b>Payer:</b>
  <%= @paypal_transaction.payer_id %>
</p>

<p>
  <b>Contact phone:</b>
  <%= @paypal_transaction.contact_phone %>
</p>

<p>
  <b>Residence country:</b>
  <%= @paypal_transaction.residence_country %>
</p>

<p>
  <b>Item name:</b>
  <%= @paypal_transaction.item_name %>
</p>

<p>
  <b>Item number:</b>
  <%= @paypal_transaction.item_number %>
</p>

<p>
  <b>Quantity:</b>
  <%= @paypal_transaction.quantity %>
</p>

<p>
  <b>Custom:</b>
  <%= @paypal_transaction.custom %>
</p>

<p>
  <b>Memo:</b>
  <%= @paypal_transaction.memo %>
</p>

<p>
  <b>Txn:</b>
  <%= @paypal_transaction.txn_id %>
</p>

<p>
  <b>Txn type:</b>
  <%= @paypal_transaction.txn_type %>
</p>

<p>
  <b>Payment status:</b>
  <%= @paypal_transaction.payment_status %>
</p>

<p>
  <b>Payment type:</b>
  <%= @paypal_transaction.payment_type %>
</p>

<p>
  <b>Payment fee:</b>
  <%= @paypal_transaction.payment_fee %>
</p>

<p>
  <b>Payment gross:</b>
  <%= @paypal_transaction.payment_gross %>
</p>

<p>
  <b>Payment date:</b>
  <%= @paypal_transaction.payment_date %>
</p>

<p>
  <b>Mc currency:</b>
  <%= @paypal_transaction.mc_currency %>
</p>

<p>
  <b>Mc fee:</b>
  <%= @paypal_transaction.mc_fee %>
</p>

<p>
  <b>Mc gross:</b>
  <%= @paypal_transaction.mc_gross %>
</p>

<p>
  <b>Tax:</b>
  <%= @paypal_transaction.tax %>
</p>

<p>
  <b>Shipping:</b>
  <%= @paypal_transaction.shipping %>
</p>

<p>
  <b>Verify sign:</b>
  <%= @paypal_transaction.verify_sign %>
</p>


<%= link_to 'Edit', edit_paypal_transaction_path(@paypal_transaction) %> |
<%= link_to 'Back', paypal_transactions_path %>
