<p id="notice"><%= notice %></p>

<p>
  <b>Street address:</b>
  <%= @order.street_address %>
</p>

<p>
  <b>State:</b>
  <%= @order.state %>
</p>

<p>
  <b>City:</b>
  <%= @order.city %>
</p>

<p>
  <b>Country:</b>
  <%= @order.country %>
</p>

<p>
  <b>Zipcode:</b>
  <%= @order.zipcode %>
</p>

<p>
  <b>Customer:</b>
  <%= @order.customer_id %>
</p>

<p>
  <b>Price:</b>
  <%= @order.price %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
