<%= simple_form_for @item, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= f.input :type %>
  <%= f.input :desc %>
  <%= f.input :options %>
  <%= f.input :display_text %>
  <%= f.input :price %>
  <%= f.input :sku %>
  <%= f.input :image_file_name %>
  <%= f.input :image_content_type %>
  <%= f.input :image_file_size %>
  <%= f.input :image_updated_at %>
  <%= f.input :developer_id %>
  <%= f.input :image_url %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                items_path, :class => 'btn' %>
  </div>
<% end %>
