<%- model_class = Item -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @item.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:type) %>:</strong></dt>
  <dd><%= @item.type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:desc) %>:</strong></dt>
  <dd><%= @item.desc %></dd>
  <dt><strong><%= model_class.human_attribute_name(:options) %>:</strong></dt>
  <dd><%= @item.options %></dd>
  <dt><strong><%= model_class.human_attribute_name(:display_text) %>:</strong></dt>
  <dd><%= @item.display_text %></dd>
  <dt><strong><%= model_class.human_attribute_name(:price) %>:</strong></dt>
  <dd><%= @item.price %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sku) %>:</strong></dt>
  <dd><%= @item.sku %></dd>
  <dt><strong><%= model_class.human_attribute_name(:image_file_name) %>:</strong></dt>
  <dd><%= @item.image_file_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:image_content_type) %>:</strong></dt>
  <dd><%= @item.image_content_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:image_file_size) %>:</strong></dt>
  <dd><%= @item.image_file_size %></dd>
  <dt><strong><%= model_class.human_attribute_name(:image_updated_at) %>:</strong></dt>
  <dd><%= @item.image_updated_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:developer_id) %>:</strong></dt>
  <dd><%= @item.developer_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:image_url) %>:</strong></dt>
  <dd><%= @item.image_url %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              items_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_item_path(@item), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              item_path(@item),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
