      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav sidebar-nav-fixed">
            <ul class="nav nav-list">
              <li class="nav-header">Merchandise</li>
              <%= nav_link 'Current Offerings', url_for(action: 'current_offerings') %>
              <%= nav_link 'Add New Products', url_for(action: 'new_products') %>

              <li class="nav-header">Sales and Analytics</li>
              <%= nav_link 'Summary', url_for(action: 'summary') %>
              <%= nav_link 'Payouts', url_for(action: 'payouts') %>
              <%= nav_link 'Transactions', url_for(action: 'transactions') %>
              <%= nav_link 'Conversions', url_for(action: 'conversions') %>

              <li class="nav-header">Developers</li>
              <li><a href="https://github.com/StlTenny/LJSimpleExample" target="_blank">Documentation</a></li>
              <%= nav_link 'Unlockables', url_for(action: 'unlockables') %>
              <%= nav_link 'API Key', url_for(action: 'api_key') %>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <div class="hero-unit">
            <%= yield %>
          </div>
        </div><!--/span-->
      </div><!--/row-->
<%= parent_layout 'application'%>